{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
  <div class="col-md-8">


<a href="{% url 'create_project' %}" class="btn btn-dark">Create Project</a>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">demo_link </th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for each in list_projects %}
    <tr>
      <th scope="row">   {{forloop.counter }}</th>
      <td> <a class="text-decoration-none" href="{% url 'project_detail' each.id %}"> {{each.title| title}} </a> </td>
      <td>{{each.demo_link}}</td>
      <td>


       <a class="btn btn-light text-decoration-none" href="{% url 'edit_project' each.id %}"> edit </a>
       <a class="btn btn-light text-decoration-none text-danger" onclick="return confirm('Are you sure?')" href="{% url 'delete_project' each.id %}"> Delete </a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

    </div>
  </div>
</div>

{% endblock %}
