{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">demo_link </th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for each in list_projects %}
    <tr>
      <th scope="row">   {{forloop.counter }}</th>
      <td> <a class="text-decoration-none" href="{% url 'project_detail' each.id %}"> {{each.title| title}} </a> </td>
      <td>{{each.demo_link}}</td>
      <td>

       <button type="button" class="btn btn-light">Edit</button>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

    </div>
  </div>
</div>

{% endblock %}
